
.gamebar-container{
  top: 0px;
  display: flex;
  width: 100%;
  z-index: 1;
  justify-content: center;
  background-color: #1d1e1c;
}



.gamebar-tab-container{
  width: 25%;
  max-width: 170px;
  height: 98%;
  position: relative;
  color: white;
  margin-left: 1px;
}

