
.gamebar-container{
  top: 0px;
  display: flex;
  width: 100%;
  z-index: 1;
  justify-content: center;
  background-color: #282828;
  overflow-y: hidden;
  overflow-x: scroll;



}

/* for webkit browsers (like Chrome, Safari) */
.gamebar-container::-webkit-scrollbar {
  display: none;  /* hide the scrollbar */
}


.gamebar-tab-container{
  width: 25%;
  max-width: 170px;
  height: 98%;
  position: relative;
  color: white;
  margin-left: 1px;
}

