

.chatmessage-wrapper{
  width: 95%;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.chatmessage-wrapper:hover{
  cursor: pointer;
  background-color: rgb(30, 30, 30);
  background-color: rgb(40, 40, 40);
}

.chatmessage-wrapper:first-child{
  margin-top: 5px;
}


.chatmessage-container{
  padding: 7px;
  margin-bottom: 2px;
  margin-top: 2px;
  border-radius: 5px;
  width: 100%;

  font-size: 14px;
  position: relative;
  color: white;
  min-height: fit-content;
  display: flex;
  
  flex-direction: column;
  /* background-color: #17344c;
  background-color: #000000;
  background-color: #171817fa; */


}



.chatmessage-image-wrapper{
  width: 80px;

}

.chatmessage-image-container{
  width: 100%;
  height: 80px;

}



.chatmessage-username-date-container{
  height: 20px;
  width: 250px;
}





.chatmessage-username{
  position: relative;
  top: 4px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  margin-left: 5px;
  font-family: serif;
  font-weight: 900;

}

.chatmessage-date{
  position: relative;
  top: 9px;
  margin-left: 10px;
  font-family: sans-serif;



  position: relative;
  color: rgba(228, 228, 228, 0.717);

  font-size: 12px;
  display: flex;
  height: fit-content;
}






.chat-message-content{
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
  width: 85%;

  position: relative;

  color: #fdfcfc;

  font-size: 17px;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.2;

}




.chat-message:hover,
.friendlist-friend:hover{
  background-color: #071b2b;

}



.chat-message-icon,
.chat-message-startDm {
  width: 37px;
}



.chat-message-option{
  position: relative;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;

}

.chat-message-option:hover{
  background-color: #1a1a1b;
  cursor: pointer;
}


.chat-message-option i{
  transform: scale(1);
  color: rgb(18, 133, 8);
}

.chat-message-option i:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.chat-message-option i:active{
  transform: scale(1);
  cursor: pointer;
}



.chat-message-buttons-container{
  position: relative;
  /* right: -10px; */
  width: 60px;
  height: 100%;
  justify-content: space-around;
  margin-left: 5px;
  position: relative;
  top: 4px;

}






.editmessage-input{
  border: black;
  position: relative;
  top: 5px;
  width: 95%;
  margin-top: 2px;
  height: 45px;
  background-color: none;
  background-color: #191a1b;

  background-color: #1f201f;

  color: #fdfcfc;

  font-size: 17px;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.2;

}



