.seat-container{
  border: white solid 1px;
  width: 100px;
  min-width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
} 

.disconnect-timer{
  height: 100px;
  width: 100px;
  border: white solid 1px;
}