.seat-wrapper {
  width: 130px;
  min-width: 100px;
  height: fit-content;
  position: absolute;
}


.seat1 {
  top: 10%;
  left: -25px;
}
.seat2 {
  bottom: 8%;
  left: 10px;
}
.seat3 {
  left: 25%;
  bottom: -10%;
}
.seat4 {
  right: 25%;
  bottom: -10%;
}
.seat5 {
  bottom: 8%;

  right: 10px;
}
.seat6 {
  top: 10%;
  right: -25px;
}



@media screen and (min-width: 1300px) {
  .seat6 {
    right: -65px;
  }

  .seat1 {
    left: -65px;
  }
}









.seat-container {
  width: 10%;
  min-width: 100px;
  aspect-ratio: 1 / 1;
  position: relative;
  flex-direction: column;
  align-items: center;

  border: black solid 1px;
}




.emptyseat-border:hover{
  cursor: pointer;
  border: #323431 solid 5px;
}

.emptyseat-border:hover .emptyseat-background{
  background-color: #3a3c388b;
}


.emptyseat-border:hover .emptyseat-arrow{
  transform: scale(1.1);
}



.profileimage-wrapper {
  width: 90%;
  height: 90%;
  min-height: 80px;
  height: fit-content;
  position: relative;
  overflow: hidden;
}


.profileimage-container {
  border: #1d1e1c solid 5px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 10px;
  position: relative;
}



.profileimage-sub-container{
  background-color: #1d1e1c8b;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: relative;
}





.profileimage-takeseat,
.profileimage-image {
  color: white;
  width: 100%;
  height: 100%;
  font-size: max(30px, 5vh);
}

.profileimage-takeseat{
  font-size: max(20px, 3vh);
}




.seat-namebalance-container{
  bottom: 0px;
  font-size: 20px;
  border-radius: 10px;
  border: black solid 1px;
  width: 100%;
  background-color: #1b1b1b;
  min-height: 25px;
}



.seat-tablebalance{
  font-size: 2.5vh;
  font-size: 16px;
  font-weight: 900;
}

.null-text,
.none-text{
  color: #01fdca;
}





.turn-timer,
.disconnect-timer {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 0px;
  left: 100px;
}


.cardarea-card-container{

}



.seat-card-area-container{
  position: absolute;
  height: fit-content;
  top: 0px;

}


.seat-card-area{
  position: relative;
  transition: all .5s ease;
  width: 45px;
  padding: 5px;

  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}






.pending-bet-area{
  position: absolute;
  top: -18px;
  left: 10px;
  z-index: 10000;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  height: 20px;
  border: black solid 1px;
  border-radius: 15px;
  background-color: #01fdca;
  color: rgb(0, 0, 0);



}

.seat-bet-area{
  position: absolute;
  bottom: -20px;
  left: 30px;
  z-index: 10000;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  height: 20px;
  border: black solid 1px;
  border-radius: 15px;
  background-color: #01fdca;

  
  color: rgb(0, 0, 0);
}

.insurance-bet-area{
  position: absolute;
  top: -18px;
  right: -10px;
  z-index: 10000;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  height: 20px;
  border: black solid 1px;
  border-radius: 15px;
  background-color: #01fdca;

  
  color: rgb(0, 0, 0);
}



.currentbet-chip-container{

  height: 20px;
  width: 20px;

}

.currentbet-chip{
width: 100%;
height: 100%;

margin-right: 5px;


}



.name-space{
  height: 20px;
}


.seat-leave-button{
  top: 100px;
  position: absolute;
}

.gold{
  border: gold solid 1px;
}




@media screen and (min-width: 650px) {

}

