.profilemenu {
  position: relative;
  top: -18px;
  right: 5px;
  border: 1px solid rgb(0, 0, 0,0.1);
  border-top: none;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(127, 127, 127, 0.9) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 170px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 411;
}


.div-link {
  position: relative;
  transition: background-color 0.2s ease;
  padding: 5px;
  left: -40px;
  width: 230px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}

.div-link:hover {
  background-color: rgba(228, 228, 228, 0.2508);
}

.div-link:active {
  background-color: rgb(226, 226, 226);
}

.profilemenu-user-welcome {
  position: relative;
  padding: 20px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #dcdcdc;
  padding: 15px;
  left: -40px;
  width: 230px;
  height: 30px;
  
  flex-direction: column;
}



.profilemenu-hello {
  width: 100%;
  left: -10px;
  position: relative;
  margin-bottom: 4px;
  font-size: 20px;
}

.profilemenu-icon{
  margin-right: 5px;
}

.profilemenu-balance {
  position: relative;
  bottom: 2px;
  left: -5px;
}



.profilemenu-option{
  position: relative;
  transition: background-color 0.2s ease;
  padding: 5px;
  width: 230px;
  left: -40px;
  cursor: pointer;

}


.profilemenu-option:hover{
  background-color: rgba(228, 228, 228, 0.2508);
}

.profilemenu-logout-container{
  height: 40px;
}

.profilemenu-logout-button{
  position: relative;
  width: 80%;
  height: 30px;
  bottom: 10%;
  left: -20px;
  background-color: #2d2e2c;

  color: white;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  transition: .1s background-color;
  font-size: 12px;
  bottom: 1px;

}


.profilemenu-logout-button:hover {
  background-color: #363736;
}

.profilemenu-logout-button:active {
  transform: scale(.95);
  background-color: rgb(74, 113, 186);

}



