.settingsmodal-wrapper{
  border: solid white 1px;
  width: 490px;
  height: 300px;
  background-color: #1d1e1c;
  background-color: #2d2e2c;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}



.settingsmodal-header{
  width: 490px;
  height: 60px;

  font-size: min(25px, 5vw);
  color: white;


  z-index: 10;
  top: -20px;
  background-color: #2d2e2cda;
  border-bottom: #0000007f solid 2px;
}



.settings-tableinfo-container{
  position: relative;
  bottom: 50px;
  left: 15px;
}





.settingsmodal-table-name-container{
  color: white;
  width: 100%;
}


.table-name-input{
  outline: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
  font-size: min(25px, 5vw);
  color: white;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  border-bottom: #000000 solid 1px;
}

.table-name-header{
  font-size: 25px;
  position: relative;
  align-items: center;
}


.table-edit-button {
  position: relative;
  font-size: 18px;
  align-items: center;
  top: 5px;
  left: 5px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}


.settingsmodal-table-felt-container,
.settingsmodal-table-neon-container{
  align-items: center;
  width: 220px;
  justify-content: space-between;
  color: white;
}

.theme-button{
  top: 0px;
  background-color: transparent;
  color: white;
  width: 100px;
  border: rgba(255, 255, 255, 0.195) solid 1px;
  cursor: pointer;
}


.tableid-container,
.tablename-container{
  position: relative;
  top: 200px;
  left: -10px;
  width: fit-content;
  justify-content: space-between;
}

.tableid-container{
  top: 240px;
}





.settingsmodal-invite-container{
  position: relative;
  top: 30px;
  width: 100%;

}

.invite-friends-button{
  width: 150px;
  height: 60px;
  border: black solid 1px;
  cursor: pointer;
  color: white;
  border-bottom: rgba(255, 217, 0, 0.466) solid .5px;
  border-top: rgba(255, 217, 0, 0.466) solid .5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 6px, rgba(0, 0, 0, 0.5) 0px 3px 6px;
}

.invite-friends-button:hover{
  box-shadow: rgba(0, 0, 0) 0px 3px 6px, rgba(0, 0, 0) 0px 3px 6px;
}