


.statpage-container{
  width: 100%;
  height: calc(100vh - 60px);
  position: absolute;
  left: 0px;
  top: 55px;
  flex-direction: column;
}


.comingsoon-wrapper{



  position: fixed;
  top: 55px;
  left: 0px;
  width: 100vw;
  height: calc(100vh - 60px);

}


.statpage-top-container{
  width: 100%;
  height: 150px;
  border: rgb(143, 82, 67) solid 2px;
  align-items: center;
  filter: blur(5px);

}

.statpage-bottom-container{
  width: 100%;
  height: calc(100% - 150px);
  border: rgb(248, 62, 16) solid 2px;
  flex-direction: column;
  filter: blur(5px);

}



.statpage-date-wrapper{
  border: green solid 1px;
  width: 200px;
  height: 70px;
}

.statpage-gametype-wrapper{
  border: green solid 1px;
  width: 200px;
  height: 70px;
}







.statpage-table-history-container{
  width: 100%;
  height: 100%;

  border: rgb(152, 14, 147) solid 2px;
}


.statpage-table-history-header{
  width: 100%;
  height: 50px;

  border: rgb(152, 14, 147) solid 2px;
  font-size: min(25px,3vw);
}


.statpage-header.start{
  width: 35%;
  margin-left: 5px;
}
.statpage-header.table{
  width: 30%;
}
.statpage-header.hands{
  width: 15%;
}
.statpage-header.result{
  width: 20%;
}

.statspage-table-wrapper{
  justify-content: space-around;
  width: 99%;
  border-bottom: rgb(150, 200, 12) solid 1px;
  height: 40px;
  text-align: center;
  align-items: center;

}
