.game-wrapper{
  width: 100vw;
  height: 100%;
  position: relative;

}

.game-activegamebar-container{
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  background-color: #1d1e1c;
  border-bottom: 1px solid black;
  z-index: 10;

}