.jointable-form{
  flex-direction: column;
}


.jointable-wrapper {
  z-index: 1000;
  position: absolute;
  border: 1px solid rgb(0, 0, 0);
  background-color: #2d2e2c;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 450px;
  height: 170px;
}



.jointable-container{
  flex-direction: column;
  justify-content: space-between;
  height: 170px;
  
}

.jointable-header{
  width: 100%;
  font-size: 25px;
  color: rgb(200, 57, 13);
}

.jointable-subheader{
  width: 100%;
  font-size: 22px;
  color: rgb(200, 57, 13);
}

.white{
  color: white;
}

.jointable-memo-container{
  font-size: 20px;
  width: 150px;
  font-size: 20px;
}

.jointable-memo{
  color: rgb(255, 255, 255);
}
.green{
  color: rgb(25, 141, 60);
}
.red{
  color: rgb(200, 57, 13);
}

.jointable-user-buttons{
  width: 80%;
  height: 50px;
}

.jointable-ok,
.jointable-addbalance,
.jointable-cancel{
  border-radius: 5px;
  cursor: pointer;
  border: solid 1px rgb(255, 255, 255);
  height: 100%;
  color: white;
  width: 40%;
}





.jointable-cancel{
  width: 40%;
}

.jointable-ok{
  width: 40%;
  height: 40px;
}


.jointable-addbalance:hover{
  color: rgb(1, 83, 21);
  border: solid green 1px;
}

.jointable-cancel:hover{
  color: rgb(200, 57, 13);

  border: solid rgb(200, 57, 13) 1px;
}





.jointable-funding-input{
  width: 150px;
}