.balancemodal-wrapper {
  z-index: 1000;
  position: absolute;
  border: 1px solid rgb(0, 0, 0);
  background-color: #2d2e2c;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 450px;
  height: 170px;
}



.balancemodal-container{
  flex-direction: column;
  justify-content: space-between;
  height: 170px;
  
}

.balancemodal-header{
  width: 100%;
  font-size: 25px;
  color: rgb(200, 57, 13);
}

.balancemodal-subheader{
  width: 100%;
  font-size: 22px;
  color: rgb(200, 57, 13);
}

.white{
  color: white;
}

.balancemodal-memo-container{
  font-size: 20px;
  width: 150px;
  font-size: 20px;
}

.balancemodal-memo{
  color: rgb(255, 255, 255);
}
.green{
  color: rgb(25, 141, 60);
}
.red{
  color: rgb(200, 57, 13);
}

.balancemodal-user-buttons{
  width: 80%;
  height: 50px;
}

.balancemodal-ok,
.balancemodal-addbalance,
.balancemodal-cancel{
  border-radius: 5px;
  cursor: pointer;
  border: solid 1px rgb(255, 255, 255);
  height: 100%;
  color: white;
}

.balancemodal-addbalance{
  width: 40%;
}




.balancemodal-cancel{
  width: 30%;
}

.balancemodal-ok{
  width: 30%;
  height: 40px;
}


.balancemodal-addbalance:hover{
  color: rgb(1, 83, 21);
  border: solid green 1px;
}

.balancemodal-cancel:hover{
  color: rgb(200, 57, 13);

  border: solid rgb(200, 57, 13) 1px;
}


.disabled{
  color: rgba(255, 255, 255, 0.297);
  border: solid 1px rgba(255, 255, 255, 0.278);
}
.disabled:hover{
  color: rgba(255, 255, 255, 0.149);
  border: solid 1px rgba(255, 255, 255, 0.118);
}


.balancemodal-funding-input{
  width: 150px;
}