* {
  user-select: none;
}



.signin-form-page-container {
  z-index: 1000;
  position: absolute;
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 450px;


  z-index: 1;
  position: absolute;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(53, 49, 49);
  padding: 20px;
  color: white;
  text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;



  font-size:20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 450px;
  justify-content: center;
}



.signinHeader {
  position: relative;
  left: 65%;
  transform: scale(1.5);
}

.signinDiv label {
  position: relative;
  left: 1%;

  display: block;
  margin-bottom: 10px;
}

.signinDiv input {
  position: relative;
  width: 95%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}


.signinDiv-button {
  width: 99%;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}


.signinDiv-button{
  border: rgba(0, 0, 0, 0.452) solid 1px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  border-radius: 5px;
  border-top: #404040b0 solid 1px;
  border-bottom: #000000 solid 2px;






}

.signinDiv-button:hover{
  background-color: rgba(228, 228, 228);
}

.signinDiv-button:active{
  border-bottom: #000000 solid 2px;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, .2);


}


.signinDiv-button.disabled{
  bottom: 2%;
  border: rgba(91, 89, 89, 0.452) solid 1px;
  color: rgba(128, 128, 128, 0.275);
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  border-radius: 5px;
}

.signinDiv-button.disabled:hover{
  border: rgba(239, 14, 14, 0.251) solid 1px;
}







.altLinks{
  position: relative;
  width: 100%;
  display: flex;
  justify-content:space-around;
  left: 0%;
}


.login-signup-link {
  position: relative;
  top: 10px;
  cursor: pointer;
}


.login-signup-link:hover {
text-decoration: underline;
}






