.gamebarcard {
  user-select: none;
  border-radius: 5px;
  background-color: #f0ead6;
  border: .5px solid rgb(2, 1, 0);
  position: relative;
  width: 28px;
  height: 37px;
  top: 2px;
  
}


.gamebarcard.hidden{
  background-color: #302a17;
  
}


.gamebarcard-suit {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
}

.gamebarcard-rank {
  color: black;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}




.diamond,
.heart {
  background-color: red;
}


.spade,
.club {
  background-color: black;
}



