.gamefloor-wrapper{
  display: flex;
  justify-content: center;
  width: 95%;
  max-width: 1200px;
  position: absolute;
  left: 50%;
  top: 270px;
  transform: translate(-50%,0);

}

.gamefloor-content,
.gamefloor-container{
  width: 100%;
  position: relative;
}

.table-view{

  top: 50px;
}

.game-view{
  position: relative;
  top: 45px;
  height: calc(100vh - 100px);

}

.games-grid {
  position: relative;

  left: 50%;
  top: -50px;
  transform: translate(-50%,0);

  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(180px, 1fr);
  grid-gap: 40px;
  grid-row-gap: 30px;
  transition: all 0.3s ease;
  margin-bottom: 30px;
}

.available-tables-grid {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  width: 95%;
  left: 2.5%;
  position: relative;
  transition: all 0.3s ease;
}

.private-game-buttons{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 100px;
  max-width: 1200px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  top: -170px;
}



.private-game-button{
  width: 40%;
  height: 70px;
  border: black solid 1px;
  position: relative;
  cursor: pointer;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
  background-color: #28292b;
  color: #fdfcfc;
  font-size: 16px;
}


@media screen and (max-width: 600px) {
  .games-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 16px;
    padding: 5px;
    transition: all 0.3s ease;
  }
}


@media screen and (min-width: 700px) {
  .private-game-button{
    font-size: 22px;
  }

}





.available-tables-sort-container{
  width: 100%;
  height: 35px;
  border: black solid 1px;
  position: relative;
  display: flex;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
  background-color: #28292b;
  color: #fdfcfc;
  font-size: 22px;
  justify-content: space-between;
}



.arrow-container{
  flex-direction: column;
  height: 30px;
}
.sort-arrow {
  font-size: 15px;
  z-index: 100;
  cursor: pointer;
}

.sort-arrow:hover {
  color: rgba(217, 46, 46, 1);
}

.deck-sort-container {
  font-size: 20px;

  width: 70px;
  margin-left: 55px;
  color: #fdfcfc;
  justify-content: space-between;
}

.deck-sort-text{
  font-size: 20px;

}

.playercount-sort-container{
  width: 95px;
  height: 60px;
  margin-left: 30px;
  justify-content: space-between;
  font-size: 20px;

}

.betsize-sort-container{
  width: 105px;
  position: relative;
  justify-content: space-between;
  right: 20px;
  font-size: 20px;

  justify-content: space-between;
}

