.gamefloor-wrapper{
  display: flex;
  justify-content: center;
  width: 95%;
  max-width: 1200px;
  position: absolute;
  left: 50%;
  top: 270px;
  transform: translate(-50%,0);

}

.gamefloor-content,
.gamefloor-container{
  width: 100%;
  position: relative;
}

.table-view{

  top: 50px;
}

.game-view{
  position: relative;
  top: 45px;
  height: calc(100vh - 100px);

}

.games-grid {
  position: relative;

  left: 50%;
  top: -50px;
  transform: translate(-50%,0);

  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(180px, 1fr);
  grid-gap: 40px;
  grid-row-gap: 30px;
  transition: all 0.3s ease;
  margin-bottom: 30px;
}

.available-tables-grid {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  width: 95%;
  left: 2.5%;
  position: relative;
  transition: all 0.3s ease;
  position: relative;
  top: -80px;
}

.private-game-buttons{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 100px;
  max-width: 1200px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  top: -170px;
}



.private-game-button{
  width: 40%;
  height: 40px;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  border-bottom: rgba(255, 217, 0, 0.466) solid .5px;
  border-top: rgba(255, 217, 0, 0.466) solid .5px;
  position: relative;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 6px, rgba(0, 0, 0, 0.5) 0px 3px 6px;

  color: #fdfcfc;
  font-size: 16px;
}


.available-game-types:hover,
.private-game-button:hover{
  /* box-shadow: rgba(218, 165, 32, 0.277) 0px 1px 1px 0px, rgba(218, 165, 32, 0.272) 0px 1px 1px 0px; */
  box-shadow: 0 -1px rgba(218, 165, 32, 0.277), 0 1px rgba(218, 165, 32, 0.272);
  box-shadow: rgba(0, 0, 0) 0px 3px 6px, rgba(0, 0, 0) 0px 3px 6px;

}




@media screen and (max-width: 600px) {
  .games-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 16px;
    padding: 5px;
    transition: all 0.3s ease;
  }
}


@media screen and (min-width: 700px) {
  .private-game-button{
    font-size: 22px;
  }

}

.tables-coming-soon-container{
  width: 100%;
  border-bottom: rgba(255, 217, 0, 0.466) solid .5px;
  border-top: rgba(255, 217, 0, 0.466) solid .5px;
  height: calc(100vh - 400px);
  font-size: 30px;
  color: white;

}





.available-tables-sort-container{
  width: 100%;
  height: 35px;
  position: relative;
  display: flex;
  /* border-radius: 14px; */
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 6px, rgba(0, 0, 0, 0.5) 0px 3px 6px;

  background-color: #28292b;
  background-color: #1d1e1c;

  color: #fdfcfc;
  font-size: 22px;
  justify-content: space-between;


  border-bottom: rgba(255, 217, 0, 0.466) solid .5px;
  border-top: rgba(255, 217, 0, 0.466) solid .5px;
}



.arrow-container{
  flex-direction: column;
  height: 30px;
}
.sort-arrow {
  font-size: 15px;
  z-index: 100;
  cursor: pointer;
}

.sort-arrow:hover {
  color: rgba(217, 46, 46, 1);
}


.tablename-sort-container{
  width: 130px;
  margin-right: 5px;
  margin-left: 55px;
  justify-content: space-between;
}


.deck-sort-container {
  font-size: 20px;

  width: 130px;
  margin-left: 55px;
  color: #fdfcfc;
  justify-content: space-between;
}

.deck-sort-text{
  font-size: 20px;

}

.playercount-sort-container{
  width: 95px;
  height: 60px;
  margin-left: 30px;
  justify-content: space-between;
  font-size: 20px;

}

.betsize-sort-container{
  width: 105px;
  position: relative;
  justify-content: space-between;
  right: 20px;
  font-size: 20px;

  justify-content: space-between;
}

.available-game-types-container{
  width: 100%;
  justify-content: space-around;

}

.available-game-types{
  flex-direction: row;
  border-bottom: rgba(255, 217, 0, 0.466) solid .5px;
  border-top: rgba(255, 217, 0, 0.466) solid .5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 6px, rgba(0, 0, 0, 0.5) 0px 3px 6px;

  width: 15%;
  height: 50px;
  cursor: pointer;
}


.creatinggame-container{
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translate(-50%,0);
  width: 95%;
  height: calc(100vh - 250px);
  transition: all .5s ease;

}

.gameicon-container{
  color: white;
  font-size: 15px;
}
.gameicon-text{
  margin-left: 5px;
}

.gameicon-text.small{
  font-size: 18px;

}



.highlite{
  border: rgba(255, 217, 0, 0.466) solid .5px;
}