.friendsnavbar-wrapper {
  width: 30%;
  min-width: 200px;
  max-width: 400px;
  height: 100%;
  position: relative;
  left: 0px;
  top: 51px;
  position: fixed;
  display: flex;
  border-right: rgba(255, 217, 0, 0.466) solid .5px;
  z-index: 10000000;
}

.friendsnavbar-wrapper.expanded {
  left: 0px;
  top: 95px;
}

.friendsnavbar-container{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;

}

.friendsnavbar-main-header{
  border-bottom: rgba(255, 217, 0, 0.466) solid .5px;
  border-top: rgba(255, 217, 0, 0.466) solid .5px;
  height: 50px;
  font-size: 18px;
  color: #fdfcfc;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px, rgba(0, 0, 0, 0.5) 0px 1px 2px;
  align-items: center;
}


.main-header-text{
  border: white solid 1px;
  position: relative;
  margin-left: 10px;
}


.friendsnavbar-nav-header{
  border-bottom: rgba(255, 217, 0, 0.466) solid .5px;
  border-top: rgba(255, 217, 0, 0.466) solid .5px;
  height: 50px;
  font-size: 18px;
  color: #fdfcfc;
  cursor: pointer;
}



