.friendsnavbar-wrapper {

  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  display: flex;
  border-right: rgba(0, 0, 0, 0.466) solid .5px;
  border-right: rgba(0, 0, 0, 0.466) solid 1px;
  top: -50px;
}


.friendsnavbar-container{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}



.friendsnavbar-searchbar-container{
  height: 59px;
  font-size: 18px;
  color: #fdfcfc;
  align-items: center;
  border-bottom: #000000 solid 1px;
  transition: 0s all ease;


}


.friendsnavbar-searchbar-container.raised{
  position: relative;
  height: 52px;
  transition: .1s all;

}




.friendsnavbar-option{
  border-top: #404040b0 solid 1px;
  border-bottom: #000000 solid 2px;

  height: 50px;
  font-size: 18px;
  color: #fdfcfc;
  overflow: hidden;
  transition: 1s all ease;
}







.friendsnavbar-nav:hover,
.friendsnavbar-nav-header:hover{
  background-color: rgba(228, 228, 228, 0.2508);


}


.friendsnavbar-nav-header{
  position: sticky;
  top: 0px;
  cursor: pointer;
  height: 50px;
  font-size: 18px;
  color: #fdfcfc;
  border-bottom: solid rgba(0, 0, 0, 0.287) 1px;
  z-index: 100;

}

.friendsnavbar-nav{
  height: 50px;
  font-size: 18px;
  color: #fdfcfc;
  border-top: #404040b0 solid 1px;
  border-bottom: #000000 solid 2px;
  border-right: black 1px solid;

  cursor: pointer;
}








.invites-extended{
  height: 150px;
  box-shadow: #40404064  0px 1px 2px, #404040b0  0px 1px 2px;

  border-bottom: #000000 solid 2px;

}

.friends-extended{
  height: calc(100vh - 220px);

}

.friends-extra-extended{
  height: calc(100vh - 270px);

}



.friendsnavbar-content{
  width: 100%;
  height: calc(100vh - 260px);
  
  overflow-y: scroll; 
  overflow-x: hidden; 
}

.friendsnavbar-content-extended{
  width: 100%;
  height: calc(100vh - 315px);
  
  overflow-y: scroll; 
  overflow-x: hidden; 
}


.friendsnavbar-content-missing{
  width: 80%;
  height: 80%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: max(4vh, 17px);
}






/* Styling the scrollbar */
.friendsnavbar-content::-webkit-scrollbar{
  width: 5px; /* Width of the scrollbar */
}

.friendsnavbar-content::-webkit-scrollbar-track {
  background:transparent; /* Color of the track of the scrollbar */
}

.friendsnavbar-content::-webkit-scrollbar-thumb {
  background: #131312; /* Color of the thumb of the scrollbar */
}

.friendsnavbar-content::-webkit-scrollbar-thumb:hover {
  background: darkgrey; /* Color of the thumb of the scrollbar when hovered */
}



.active-nav{
  background-color: rgba(228, 228, 228, 0.213);
}




.friendsnavbar-text-active{
  color: goldenrod;
}

