.table-wrapper{
  position: relative;
  top: -10px;
  width: 100vw;
  height: 70vh;
  /* min-height: 400px; */

}






.table-button-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;

  border: #1d1e1c solid 3px;
  background-color: #1d1e1c8b;
  cursor: pointer;
  z-index: 1;
}

.table-button-container.menu{
  right: 10px;
  top: 8px;
  z-index: 1000000;

}


.table-button-container.home {
  right: 10px;
  top: 55px;
}

.table-button-container.chat{
  left: 10px;
  top: 8px;
}


.table-button-container.leave{
  right: 10px;
  top: 102px;
}

.table-button-container.money{
  left: 10px;
  top: 102px;
}

.table-button-container.settings{
  left: 10px;
  top: 55px;
}

.table-button-container.theme{
  left: 10px;
  top: 149px;
}





.table-button-container:hover {
  background-color: #2728258b;
}



.table-button-container:hover i {
  transform: scale(1.1);
}




.table-button-container:active i {
  transform: scale(1);
}



.table-button-subcontainer i{
  width: 100%;
  height: 100%;
  font-size: 25px;
  color: white;

  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


















.table-content{
  background-color: #368866;

  width: 100vw;
  height: 100%;
  
  position: absolute;
  top: 0px;


  
  overflow: hidden;
  aspect-ratio: 1 / 1;
  
  
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-bottom: black solid 1px;

  box-shadow: 
    rgba(113, 112, 113, 0.4) 0 0 50px, 
    rgba(113, 112, 113, 0.3) 0 0 75px, 
    rgba(113, 112, 113, 0.2) 0 0 100px, 
    rgba(113, 112, 113, 0.1) 0 0 150px, 
    rgba(113, 112, 113, 0.05) 0 0 200px;
}


.table-image-container{
  top: 0px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  
}




.table-content img{
  object-fit: cover;
  width: 100%;
  height: 100%;

}




.table-countdown{
  left: 50%;
  top: 30%;
  transform: translate(-50%, 0);
  position: absolute;
  width: 120px;
  height: 120px;
}



.seats-container{
  width: 100vw;
  position: absolute;
  bottom: -30px;
  justify-content: space-around;
  border: #000000 solid 1px;
}



.dealer-cards{
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  position: absolute;
  width: 200px;
  height: 70px;
  border: solid 1px white;
}