.chatbox-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}



.chatbox-message-container {


  position: relative;


  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chatbox-message-container > :last-child {
  margin-bottom: 10px;
}





/* Styling the scrollbar */

.chatbox-message-container::-webkit-scrollbar{
  width:  10px; /* Width of the scrollbar */
}

.chatbox-message-container::-webkit-scrollbar-track {
  background:transparent; /* Color of the track of the scrollbar */
}
.chatbox-message-container::-webkit-scrollbar-thumb {
  background: #131312; /* Color of the thumb of the scrollbar */
}

.chatbox-message-container::-webkit-scrollbar-thumb:hover {
  background: darkgrey; /* Color of the thumb of the scrollbar when hovered */
}





.chat-bottom-ref{
  position: relative;
  height: 5px;
  width: 5px;
  top: -20px;
}




