.friendspage-wrapper{
  height: calc(100vh - 50px);

  width: 100vw;
  position: absolute;
  left: 0px;
  top: 50px;
  overflow: hidden;
  
}




.friendspage-friendsnavbar-wrapper{
  width: 200px;
  height: 100%;
  left: 0px;
  top: 0px;
  position: fixed;
  display: flex;
  border-right: rgba(0, 0, 0, 0.466) solid .5px;
}


.friendspage-friendsnavbar-wrapper.shrunk {
  transition: .5s top;
  top: 101px;
}

.friendspage-friendsnavbar-wrapper.expanded {
  top: 150px;
}






.friendspage-content-wrapper{
  position: absolute;
  top: 0px;

  right: 0px;
  width: calc(100vw - 200px);
  flex-direction: column;

}


.friendspage-content-wrapper.expanded{
  top: 42px;
  height: calc(100% - 44px);
}

.friendspage-content-wrapper.shrunk{
  transition: .5s top;
  top: 0px;
  height: calc(100% - 0px);
}





.friendspage-content{
  width: 100%;
  border-top: #404040b0 solid 1px;
  

}


.friendspage-header{
  width: 100%;
  height: 60px;
  border-bottom: #000000 solid 1px;
  border-left: #000000 solid 1px;
  background-color:#000000;
  z-index: 1;
  background-color: #1f201f;

  font-size: 30px;
  color: white;
}

.friendspage-friendview-header{
  width: 100%;
  height: 70px;

  font-size: 30px;
  color: white;
  border: white solid 1px;
}

.friendtile-wrapper{
  width: 100%;
  height: 60px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);

  color: white;
  
}

.friendtile-wrapper:first-child{
  border-top: none;
}



/* // currentFriendView */

.friendspage-friendview-container{
  width: 100%;
  height: 100%;
  flex-direction: column;
}






.friendspage-chatbox-extended{
  height: calc(100vh - 255px);

}

.friendspage-chatbox-condensed{
  height: calc(100vh - 215px);
}

.lowered {
  position: relative;
  top: 10px;
}


.friendspage-chatbox-extended.conversations{
  height: calc(100vh - 215px);

}

.friendspage-chatbox-condensed.conversations{
  height: calc(100vh - 175px);
}




.chatbox-chatinput-container{

  height: 40px;
  min-height: 40px;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  position: relative;
  top: 5px;
  border-top: 1px solid black;
  border-left: 1px solid black;

  background-color: #1f201f;
}







.friendspage-profile-image-container{
  position: relative;
  height: 40px;
  width: 40px;
  margin-left: 5px;
  border: rgb(255, 255, 255) solid 2px;
  border-radius: 50%;

}

.friendspage-profile-image{
  border: rgba(255, 255, 255, 0.238) solid 1px;
  background-color: rgba(115, 130, 130, 0.135);

  border-radius: 50%;
  height: 40px;
  width: 40px;
}



.friendspage-name-container{
border: white solid 1px;


  margin-left: 10px;
  font-size: 20px;


}


.friendspage-friendview-nav{
  height: 40px;
  justify-content: space-around;
}

.friendview-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;

  
}

.friendview-nav:hover{
  color: goldenrod;
  box-shadow: 0 10px 10px -10px rgba(0,0,0,0.5);
}

.nav-text{
  position: relative;
  top: 10px;
  font-size: 16px;
}

.nav-text-active{
  color: goldenrod;
  border-bottom: solid 1px rgba(218, 165, 32, 0.675);
  box-shadow: 0 10px 10px -10px rgba(0,0,0,0.5);
}



.friendspage-friendmenu-container{
  width: fit-content;
  height: fit-content;

  position: absolute;
  right: 30px;
}


.friendspage-friendmenu-icon{
cursor: pointer;
  background-color: #212220;

width: 40px;
height: 40px;
border-radius: 50%;
border: rgba(0, 0, 0, 0.311) solid 1px;



}

.friendspage-friendmenu-icon:hover{
  background-color: #2d2e2c;
}
.friendspage-friendmenu-icon:hover > i{
  transform: scale(1.3);
}

.friendspage-friendmenu-icon:active > i{
  transform: scale(1);
}

.friendspage-friendmenu-icon i{

  width: fit-content;
  height: fit-content;
  font-size: 15px;
}




.friendspage-submenu-container{
  width: 160px;
  height: fit-content;
  border: white solid 1px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
}



.friendspage-submenu-item{
  font-size: 16px;
  width: 100%;
  height: 30px;
  border: white solid 1px;
  cursor: pointer;
  background-color: #212220;
  justify-content: space-around;
}

.friendspage-item-text{
  font-size: 16px;
  width: 100%;
  height: 100%;
  background-color: #212220;
  justify-content: space-around;
}
.friendspage-item-icon{
  font-size: 16px;
  width: 40%;
  height: 100%;
  background-color: #212220;
  justify-content: space-around;
}

.friendspage-submenu-item:hover .remove {
  background-color: red;
  background-color: #7b351c;
  
}




.friendspage-submenu-container.message:hover,
.friendspage-submenu-item.message:hover{

  background-color: #2d2e2c;
  background-color: #1c3d7b;

}




@media screen and (min-width: 800px) {
  .friendspage-friendsnavbar-wrapper{
    width: 300px;
  }
  .friendspage-content-wrapper{
    width: calc(100vw - 300px);
  }
  .nav-text{
    font-size: 20px;
  }

  .friendspage-name-container{
    margin-left: 10px;
    font-size: 20px;

  }
}