.bet-wrapper {
  width: 100%;
  height: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.bet-container {
  height: calc(100% - 100px);
  width: 100%;
  display: flex;

}

.chatbox-wrapper {
  height: 100%;
  width: 400px;
  transition: width 1s ease;
}

.minimize {
  width: 0px;
  transition: width 1s ease;
}


.bet-user-settings{
  width: 60px;
  height: 20px;
  position: relative;
  top: -15px;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
