.bet-wrapper {
  width: 100%;
  height: 15vh;
  min-height: 60px;
  position: absolute;
  bottom: 0px;


}

.bet-container {
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  display: flex;
}




.actions-container {
  position: absolute;  
  right: 0%; 
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  transition: all 1s ease;
  flex-direction: column;
}

.row{
  flex-direction: row;
}





.actions-container.shrunk {
  width: calc(95% - 300px);
  height: 90%;
  display: flex;
  justify-content: space-around;
  transition: all 1s ease;
}






.insurance-option{
  font-size: min(25px, 4vw);
  color: white;
  margin-right: 10px;

}




.action-button{
  cursor: pointer;
  border-radius: 20px;
  border: #131413 solid 1px;
  color: white;

  height: 60%;
  min-height: 30px;
  width: 35%;
  max-width: 200px;
  min-width: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: min(18px, 2.2vw);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 6px, rgba(0, 0, 0, 0.5) 0px 3px 6px;

  background-color: #4b4b4b;

}




div.action-button:active::after,
div.action-button:active,
div.chip:active::after {
  animation: none;
  border: black solid 1px;

}






.rebet-option-container,
.undo-bet-container{
  width: 40%;
  max-width: 400px;
  height: 100%;
  position: relative;
  justify-content: space-around;
  z-index: 10;


}




.chips-option-container{
  position: relative;
  height: 100%;
  width: 60%;
  justify-content: space-around;
  margin-top: 5px;
  z-index: 10;


}













.chip{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 50px;
  max-width: 70px;
  background-color: #4b4b4b;
  border-radius: 50%;

  aspect-ratio: 1/1;

  color: white;
  border-top: rgba(255, 217, 0, 0.466) solid .5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 6px, rgba(0, 0, 0, 0.5) 0px 3px 6px;
  cursor: pointer;
  position: relative;
  animation: none;
}





.action-button:hover {
  color: goldenrod;
  --border-width: 3px;
  position: relative;
  background: #222;
  &::after {
    position: absolute;
    border-radius: 20px;
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    border: var(--border-width) solid transparent;
    background: linear-gradient(
      60deg,
      gold,
      goldenrod,
      gold,
      goldenrod,
      gold,
      goldenrod,
      gold,
      goldenrod
    );
    background-size: 200% 100%;
    animation: moveGradient 1s infinite linear;
  }
}



.chip:hover {
  color: goldenrod;
  --border-width: 3px;
  position: relative;
  background: #222;
  
  &::after {
    position: absolute;
    border-radius: 50%;
    content: "";

    z-index: -1;
    width: 100%;
    height: 100%;
    border: var(--border-width) solid transparent;
    background: linear-gradient(
      60deg,
      gold,
      goldenrod,
      gold,
      goldenrod,
      gold,
      goldenrod,
      gold,
      goldenrod
    );
    background-size: 200% 100%;
    animation: moveGradient 1s infinite linear;
  }
}






@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}


