
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000000000;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: transparent;
}

body{
  /* background-color: rgba(100, 148, 237, 0.584); */
  /* background-color: #803a34;
  background-color: #803a34;*/
  background-color: #2d2e2c;
  background-color: #1d1e1c;
  background-color: #1b1c1bfa;

  /* background: radial-gradient(circle, rgba(111,112,110,1) 0%, rgba(31,32,30,1) 100%); */
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

.style1-color1{
  background-color: #803a34;
}

.style1-color2{
  background-color: #672f2a;
}

.style2-color1{
  background-color: #2d2e2c;
}

.style2-color2{
  background-color: #4d672a;
}

.neon-pink{
  animation: neon-pink 600s infinite;
  text-shadow: -1px 0 #ff3aad, 0 3px #ff3aad, 3px 0 #ff3aad, 0 -1px #ff3aad;
}

.neon-pink-text{
  color: #ff3aad;
  text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}


@keyframes neon-pink {

  0%, 1%, 2%, 100% {
    box-shadow:
      white 0 0 12px,
      #ff3aad 0 0 24px,
      #ff3aad 0 0 36px;
  }

  .9% {
    box-shadow:
    white 0 0 20px,
    #ff3aad 0 0 30px,
    #ff3aad 0 0 40px;
  }

  1.9% {
    box-shadow:
      /* rgba(255, 255, 255, 0.147) 0 0 12px,
      #ff3aad28 0 0 24px,
      #ff3aad2a 0 0 36px; */
      rgba(255, 255, 255, 0.462) 0 0 8px,
      #ff3aad 0 0 15px,
      #ff3aad 0 0 20px;
  }
}

.neon-blue{
  animation: neon-blue 600s infinite;
  text-shadow: -1px 0 #3ae1ff , 0 3px #3ae1ff , 3px 0 #3ae1ff , 0 -1px #3ae1ff ;
}


.neon-blue-text{
  color: #3ae1ff;
}

@keyframes neon-blue {

  0%, 1%, 2%, 100% {
    box-shadow:
      white 0 0 12px,
      #3ae1ff 0 0 24px,
      #3ae1ff  0 0 36px;
  }

  .9% {
    box-shadow:
    white 0 0 20px,
    #3ae1ff  0 0 30px,
    #3ae1ff  0 0 40px;
  }

  1.9% {
    box-shadow:
      /* rgba(255, 255, 255, 0.147) 0 0 12px,
      #3ae1ff 28 0 0 24px,
      #3ae1ff 2a 0 0 36px; */
      rgba(255, 255, 255, 0.462) 0 0 8px,
      #3ae1ff  0 0 15px,
      #3ae1ff  0 0 20px;
  }
}

.neon-yellow{
  animation: neon-yellow 600s infinite;
  text-shadow: -1px 0 #e8f041 , 0 3px #e8f041 , 3px 0 #e8f041 , 0 -1px #e8f041 ;
}

.neon-yellow-text{
  color: #e8f041;
}

@keyframes neon-yellow {

  0%, 1%, 2%, 100% {
    box-shadow:
      white 0 0 12px,
      #e8f041 0 0 24px,
      #e8f041  0 0 36px;
  }

  .9% {
    box-shadow:
    white 0 0 20px,
    #e8f041  0 0 30px,
    #e8f041  0 0 40px;
  }

  1.9% {
    box-shadow:
      /* rgba(255, 255, 255, 0.147) 0 0 12px,
      #e8f041 28 0 0 24px,
      #e8f041 2a 0 0 36px; */
      rgba(255, 255, 255, 0.462) 0 0 8px,
      #e8f041  0 0 15px,
      #e8f041  0 0 20px;
  }
}

.neon-green{
  animation: neon-green 600s infinite;
  text-shadow: -1px 0 #84f041 , 0 3px #84f041 , 3px 0 #84f041 , 0 -1px #84f041 ;
}
.neon-green-text{
  color: #84f041;
}

@keyframes neon-green {

  0%, 1%, 2%, 100% {
    box-shadow:
      white 0 0 12px,
      #84f041 0 0 24px,
      #84f041  0 0 36px;
  }

  .9% {
    box-shadow:
    white 0 0 20px,
    #84f041  0 0 30px,
    #84f041  0 0 40px;
  }

  1.9% {
    box-shadow:
      /* rgba(255, 255, 255, 0.147) 0 0 12px,
      #84f041 28 0 0 24px,
      #84f041 2a 0 0 36px; */
      rgba(255, 255, 255, 0.462) 0 0 8px,
      #84f041  0 0 15px,
      #84f041  0 0 20px;
  }
}


.neon-white{
  animation: neon-white 600s infinite;
  text-shadow: -1px 0 #d5e2cd , 0 3px #d5e2cd , 3px 0 #d5e2cd , 0 -1px #d5e2cd ;
}

.neon-white-text{
  color: #d5e2cd;
}


@keyframes neon-white {

  0%, 1%, 2%, 100% {
    box-shadow:
      white 0 0 12px,
      #d5e2cd 0 0 24px,
      #d5e2cd  0 0 36px;
  }

  .9% {
    box-shadow:
    white 0 0 20px,
    #d5e2cd  0 0 30px,
    #d5e2cd  0 0 40px;
  }

  1.9% {
    box-shadow:
      /* rgba(255, 255, 255, 0.147) 0 0 12px,
      #d5e2cd 28 0 0 24px,
      #d5e2cd 2a 0 0 36px; */
      rgba(255, 255, 255, 0.462) 0 0 8px,
      #d5e2cd  0 0 15px,
      #d5e2cd  0 0 20px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn .5s forwards ease-in;
}





@keyframes loading {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}


.loading {
  /* background-image: linear-gradient(90deg, #dadada 0px, rgba(159, 159, 159, 0.1) 40px, #b6b6b6 80px);

  background-image: linear-gradient(90deg, #7f7f7f8a 10px, rgba(136, 136, 136, 0.139) 40px, #cdcdcd 1000px);
  border: rgba(128, 128, 128, 0.222) solid 1px;
  background-size: 100% 100%;
  animation: shimmer .5s infinite linear;
  z-index: 2;
  min-height: 250px; */
  filter: blur(400px);
}



.rounded{
  box-shadow: rgba(90, 90, 90, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}




*{
  font-family: 'Montserrat', sans-serif;
}


.flex{
  display: flex;
}

.center{
  justify-content: center;
  align-items: center;
}


.between{
  justify-content: space-between;
}

.marginleft{
  margin-left: 5px;
}

.align-center{
  align-items: center;
}


.balancemodal-disabled{
  color: rgba(255, 255, 255, 0.297);
  border: solid 1px rgba(255, 255, 255, 0.278);
}
.balancemodal-disabled:hover{
  color: rgba(255, 255, 255, 0.149);
  border: solid 1px rgba(255, 255, 255, 0.118);
}





/* Styling the scrollbar */
.styled-scrollbar::-webkit-scrollbar{
  width: 8px; /* Width of the scrollbar */
}

.styled-scrollbar::-webkit-scrollbar-track {
  background:transparent; /* Color of the track of the scrollbar */
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background: #131312; /* Color of the thumb of the scrollbar */
}

.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background: darkgrey; /* Color of the thumb of the scrollbar when hovered */
}





