
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: transparent;
}

body{
  /* background-color: rgba(100, 148, 237, 0.584); */
  /* background-color: #803a34;
  background-color: #803a34;*/
  background-color: #2d2e2c;
  /* background: radial-gradient(circle, rgba(111,112,110,1) 0%, rgba(31,32,30,1) 100%); */
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

.style1-color1{
  background-color: #803a34;
}

.style1-color2{
  background-color: #672f2a;
}

.style2-color1{
  background-color: #2d2e2c;
}

.style2-color2{
  background-color: #4d672a;
}

.neon{
  animation: neon 600s infinite;

  text-shadow: -1px 0 #ff3aad, 0 3px #ff3aad, 3px 0 #ff3aad, 0 -1px #ff3aad;

}



.pulse {
  animation: pulse 600s infinite;
}

.rounded{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;



}


@keyframes neon {



  0%, 1%, 2%, 100% {
    box-shadow:
      white 0 0 12px,
      #ff3aad 0 0 24px,
      #ff3aad 0 0 36px;
  }

  .9% {
    box-shadow:
    white 0 0 20px,
    #ff3aad 0 0 30px,
    #ff3aad 0 0 40px;
  }

  1.9% {
    box-shadow:
      /* rgba(255, 255, 255, 0.147) 0 0 12px,
      #ff3aad28 0 0 24px,
      #ff3aad2a 0 0 36px; */
      rgba(255, 255, 255, 0.462) 0 0 8px,
      #ff3aad 0 0 15px,
      #ff3aad 0 0 20px;
  }
}


/* @keyframes floating {
  0% { transform: scale(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
} */


.floating-neon-pink-hover:hover{
  animation: floating-neon-pink  2s infinite ease-in-out;

}

.floating-neon-pink {
  animation: floating-neon-pink  2s infinite ease-in-out;
}

@keyframes floating-neon-pink {
  0%, 100%{
    /* transform: scale(1) translateY(0); */
    /* transform: scale(1) translateY(0px); */
    transform: translateY(0px);
    /* box-shadow:
      white 0 0 10px,
      #ff3aad 0 0 15px,
      #ff3aad 0 0 20px; */
      box-shadow:
      white 0 0 1px,
      #ff3aad 0 0 2px,
      #ff3aad 0 0 2px;
    }
    
    50% {
      /* transform: scale(1.05) translateY(-100px); */
      /* transform: scale(1) translateY(-100px); */
      transform: translateY(-4px);
      box-shadow:
        rgba(255, 255, 255, 0.297) -2px 2px,
        rgba(240, 46, 170, 0.2) -7px 7px,
        rgba(240, 46, 170, 0.1) -8px 8px,
        rgba(240, 46, 170, 0.05) -6px 6px;
  }

}





@keyframes pulse {

  95% {
    font-size: 20px;
  }
  100% {
    font-size: 20px;
  }

}


*{
  font-family: 'Montserrat', sans-serif;
}


.flex{
  display: flex;
}

.center{
  justify-content: center;
  align-items: center;
}


.between{
  justify-content: space-between;
}


.balancemodal-disabled{
  color: rgba(255, 255, 255, 0.297);
  border: solid 1px rgba(255, 255, 255, 0.278);
}
.balancemodal-disabled:hover{
  color: rgba(255, 255, 255, 0.149);
  border: solid 1px rgba(255, 255, 255, 0.118);
}

