
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: transparent;
}

body{
  /* background-color: rgba(100, 148, 237, 0.584); */
  /* background-color: #803a34;
  background-color: #803a34;*/
  background-color: #2d2e2c;
  /* background: radial-gradient(circle, rgba(111,112,110,1) 0%, rgba(31,32,30,1) 100%); */
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

.style1-color1{
  background-color: #803a34;
}

.style1-color2{
  background-color: #672f2a;
}

.style2-color1{
  background-color: #2d2e2c;
}

.style2-color2{
  background-color: #4d672a;
}

.neon{
  animation: neon 600s infinite;
}

@keyframes neon {
  0%, 1%, 2%, 100% {
    box-shadow:
      white 0 0 12px,
      #ff3aad 0 0 24px,
      #ff3aad 0 0 36px;
  }

  .9% {
    box-shadow:
    white 0 0 20px,
    #ff3aad 0 0 30px,
    #ff3aad 0 0 40px;
  }

  1.9% {
    box-shadow:
      /* rgba(255, 255, 255, 0.147) 0 0 12px,
      #ff3aad28 0 0 24px,
      #ff3aad2a 0 0 36px; */
      rgba(255, 255, 255, 0.462) 0 0 8px,
      #ff3aad 0 0 15px,
      #ff3aad 0 0 20px;
  }
}



*{
  font-family: 'Montserrat', sans-serif;
}


.flex{
  display: flex;
}

.center{
  justify-content: center;
  align-items: center;
}


.between{
  justify-content: space-between;
}
