.card {
  user-select: none;
  border-radius: 5px;
  background-color: #f0ead6;
  border: .5px solid rgb(2, 1, 0);
  position: relative;
  width: 40px;
  height: 60px;
  max-height: 125px;
  min-width: 35px;
}


.card.hidden{
  background-color: #302a17;
  
}


.card-suit {
  position: absolute;
  top: 2px;
  left: 5px;
  width: 20px;
  height: 20px;
  font-size: 10px;
}

.card-suit-flip {
  transform: rotate(180deg);
  position: absolute;
  bottom: 2px;
  left: 15px;
  width: 20px;
  height: 20px;
  font-size: 10px;
}


.card-rank {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}




.diamond,
.heart {
  background-color: red;
}


.spade,
.club {
  background-color: black;
}



