.card {
  user-select: none;
  border-radius: 5px;
  background-color: #f0ead6;
  border: .5px solid rgb(2, 1, 0);
  position: relative;
  width: 40px;
  height: 60px;
  
}


.card.hidden{
  background-color: #302a17;
  
}


.card-suit {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 20px;
  height: 20px;
  font-size: 10px;
}

.card-suit-flip {
  transform: rotate(180deg);
  position: absolute;
  bottom: 1px;
  right: 1px;
  width: 20px;
  height: 20px;
  font-size: 10px;
}


.card-rank {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}




.diamond,
.heart {
  background-color: red;
}


.spade,
.club {
  background-color: black;
}


.easy-view.card-rank{
  position: absolute;
  top: 10px;
  left: 14px;
  width: fit-content;
  height: fit-content;
  font-size: 15px;
}

.easy-view.card-suit{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0px;
  width: fit-content;
  height: fit-content;
}

.easy-view.card-rank-flip{
  transform: rotate(180deg);
  position: absolute;
  bottom: 1px;
  right: 1px;
  width: 20px;
  height: 20px;
  font-size: 15px;
}


.card.easy-view > .card-suit{
  position: absolute;

  font-size: 15px;
}
